<template>
  <Bar />
</template>

<script>
import Bar from "@/components/UI/Bar";

export default {
  name: "App",
  components: {
    Bar,
  },
  setup() {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
</style>
