<template>
  <div class="bar__wrapper">
    <div class="bar__main">
      <div class="bar__buttons">
        <button @click="handle_change_bar_type">
          {{ barType ? "Вертикальная" : "Горизонтальная" }}
        </button>
        <button @click="addData">Добавить данные</button>
      </div>
      <div v-if="isAddData">
        Данные диаграммы:
        <div class="options__block">
          <div>
            <button title="Добавить категорию" @click="handleAddCategorie">
              +
            </button>
            <div v-if="isHandleAddCategorie">
              <input
                type="text"
                v-model="addCategory"
                placeholder="Добавить категорию"
              />

              <button @click="addToCategory">Добавить</button>
              <input
                type="text"
                v-model="addDataValue"
                placeholder="Добавить значение"
              />
            </div>
          </div>
          <!-- <div>
            <div v-for="(option, idx) in options.xaxis.categories" :key="idx">
              <p>{{ option }}</p>
            </div>
          </div>
          <div v-for="(serie, idx) in series" :key="idx">
            <div v-for="(item, idx) in serie" :key="idx">
              <div v-for="(value, idx) in item" :key="idx">
                <p>{{ value }}</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="bar__chart">
        <apexchart
          width="500"
          type="bar"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "@vue/reactivity";
import { useStore } from "vuex";
export default {
  setup() {
    const store = useStore();
    const barType = ref(false);
    const isAddData = ref(false);
    const addCategory = ref("");
    const addName = ref("");
    const addDataValue = ref("");
    const isHandleAddCategorie = ref(false);
    const handleAddCategorie = () => {
      isHandleAddCategorie.value = !isHandleAddCategorie.value;
    };
    const addToCategory = () => {
      if (addCategory.value.length > 0 && addDataValue.value.length > 0) {
        store.dispatch("addToCategories", addCategory.value);
        store.dispatch("addToSeries", {
          name: "test",
          data: Number(addDataValue.value),
        });
        addCategory.value = "";
        addDataValue.value = "";
      }
      options.value = {
        ...options.value,
        ...(options.value.xaxis.categories = store.getters.getCategories),
      };
      series.value = store.getters.getSeries;
      console.log(store.getters.getSeries);
    };
    const addData = () => {
      isAddData.value = !isAddData.value;
    };
    const handle_change_bar_type = () => {
      barType.value = !barType.value;
      options.value = {
        ...options.value,
        ...(options.value.plotOptions.bar.horizontal = barType.value),
      };
    };
    const options = ref({
      chart: {
        id: "vuechart",
      },
      xaxis: { categories: [] },
      plotOptions: {
        bar: {
          horizontal: barType.value,
          dataLabels: {
            position: "top",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetX: 0,
        style: {
          fontSize: "12px",
          colors: ["#fff"],
        },
      },
      stroke: {
        show: true,
        width: 1,
        colors: ["#fff"],
      },
    });
    const series = ref([]);
    return {
      options,
      series,
      barType,
      handle_change_bar_type,
      isAddData,
      addCategory,
      addData,
      addDataValue,
      isHandleAddCategorie,
      handleAddCategorie,
      addToCategory,
    };
  },
};
</script>
<style>
.bar__wrapper {
  display: inline-block;
}
.bar__main {
  align-items: center;
}
.bar__buttons {
  border: 1px solid gray;
  display: flex;
}
.bar__chart {
  border: 1px solid gray;
}
.options__block {
  display: flex;
}
</style>
